$colors: (
    blue: #007aff,
    orange: #fb8c00,
    green: #00bfa5,
    red: #ee4957,
    black: #343a40,
    white: #ffffff,
    gray: #6c757d,
    violet: #5831cc,
);

@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key)
    }

    @warn "Unknown #{key} in $colors.";
    @return null;
}

.colors {
	color: black;
	display: flex;
	flex-flow: row wrap;
	margin: 4rem 0;
	> div {
		box-shadow: $btn-shadow;
		flex: 1;
		font-size: 1.8rem;
		font-weight: 100;
		margin: 5px;
		min-width: 12rem;
		padding: .8em;
		text-align: center;
	}
	span {
		display: block;
		font-family: Source Code Pro ExtraLight;
		font-size: 1rem;
		margin-top: .4rem;
	}
}

@each $color, $value in $colors {
    .#{$color} {
        background: $value;
    }
}
